.frame {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 400px;
  margin-top: -200px;
  margin-left: -200px;
  border-radius: 2px;
  box-shadow: 4px 8px 16px 0 rgba(0, 0, 0, 0.1);
  overflow: hidden;
  background: #fff;
  color: #333;
  font-family: "Open Sans", Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(99, 172, 132);
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}

.firstbar,
.secondbar,
.thirdbar {
  background-color: white;
  height: 8px;
  width: 80px;
  margin: 14px;
  border-radius: 3px;
  box-shadow: 2px 4px 6px 0 rgba(0, 0, 0, 0.3);
  transition: all 0.4s linear;
}

.shrink {
  transform: scale(0, 0);
}

.slide_animation {
  /* @keyframes name | duration | timing-function | delay | 
iteration-count | direction | fill-mode | play-state */
  animation: slidedown 0.5s linear 0s 1 forwards, rotateleft 0.5s linear 1s;
  animation-fill-mode: forwards;
}

.rotate_animation {
  animation: rotateleft 0.5s linear;
  animation-fill-mode: forwards;
}

@keyframes slidedown {
  100% {
    transform: translate(0, 22px);
  }
}

@keyframes rotateleft {
  0%,
  100% {
    transform: translate(0, 22px);
  }
  100% {
    transform: rotate(0.2turn);
  }
}
